// font-family: 'Bad Script', cursive;
// font-family: 'Dawning of a New Day', cursive;
// background-color: rgb(155, 121, 116);

$main-color: rgb(113, 138, 111);
$sub-font: 'Raleway', sans-serif;
$main-font: 'Bad Script', cursive;
$sub-color: rgb(46, 61, 49);

.homepage{


    @media (max-width: 599px){
        h1{font-size: 3rem;
            padding: 20% 0;
        }
    }

    @media(min-width: 600px){
        h1{font-size:4rem;
        padding: 10% 0;}
    }

    @media (min-width: 800px){
        h1{font-size: 5rem;
        padding: 2% 0;}
    }
    
    :before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("/assets/5.jpg");
        background-repeat: no-repeat;
        background-size: cover; /* or contain depending on what you want */
        background-position: center;
        transform: scaleX(-1);
        z-index: -1;
    }   



    .heading-container{ 
        margin: 15% 3%;
        width: 45%;
        height: 20%;
        background-color: $sub-color;
        border-radius: 5px;
        
    }

    .heading{
        color: $main-color;
        text-align: center;
        font-family: $main-font;
    }
}


    
   


  