$main-color: rgb(113, 138, 111);
$sub-font: 'Raleway', sans-serif;
$main-font: 'Bad Script', cursive;


.landing{
    
    background-image: url("/assets/4.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    h3{ 
        margin: 0 auto;
        transform: translateY(-20%);
        padding: 0 5%;
        font-family:$main-font;
        color: black;
        font-size: 5rem;
    }

    .hide{
        overflow: hidden;
        display: inline-block;
    }



}

