$main-color: rgb(113, 138, 111);

.slider {
    background: rgb(177, 185, 175);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  