@media (max-width: 599px) {
  .homepage .heading-container {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .homepage .heading-container {
    display: none;
  }
}

@media (min-width: 800px) {
  .homepage h1 {
    font-size: 5rem;
    padding: 2% 0;
  }
  .homepage .heading-container {
    margin: 15% 3%;
  }
}

.homepage :before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/assets/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

.homepage .heading-container {
  margin-top: 5%;
  width: 50%;
}

.homepage .heading-container h1, .homepage .heading-container p, .homepage .heading-container input {
  text-align: center;
}

.homepage .heading-container input {
  margin: 5% 15%;
  width: 70%;
  height: 5%;
}

.homepage input {
  background-color: #ffffff;
  border-color: #eeeeee;
  font-family: "Raleway", sans-serif;
  border-style: solid;
}

.homepage input::-webkit-input-placeholder {
  color: #b6b6b6;
}

.homepage input:-ms-input-placeholder {
  color: #b6b6b6;
}

.homepage input::-ms-input-placeholder {
  color: #b6b6b6;
}

.homepage input::placeholder {
  color: #b6b6b6;
}

.landing {
  background-image: url("/assets/4.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing h3 {
  margin: 0 auto;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  padding: 0 5%;
  font-family: "Bad Script", cursive;
  color: black;
  font-size: 5rem;
}

.landing .hide {
  overflow: hidden;
  display: inline-block;
}

.slider {
  background: #b1b9af;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media (max-width: 690px) {
  .recipe-page .flex-box-container {
    padding: 15% 0;
  }
  .recipe-page .recipe-card {
    width: 70%;
  }
}

@media (min-width: 691px) {
  .recipe-page .flex-box-container {
    padding: 10% 0;
  }
  .recipe-page .recipe-card {
    width: 35%;
  }
}

.recipe-page .bg-image {
  min-height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-page .img1 {
  background-image: url("/assets/7.jpg");
}

.recipe-page .img2 {
  background-image: url("/assets/6.jpg");
}

.recipe-page .img3 {
  background-image: url("/assets/7.jpg");
  height: 400px;
}

.recipe-page .flex-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recipe-page h1 {
  color: #2e3d31;
  margin: 1% 6%;
}

.recipe-page .main-header {
  margin: 10% 25%;
  text-align: center;
  max-width: 50%;
  height: 20%;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}

.recipe-page .recipe-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #2e3d31;
  border: #2e3d31;
}

.recipe-page .recipe-card:hover h3, .recipe-page .recipe-card:hover li, .recipe-page .recipe-card:hover .nutrition-rating {
  color: white;
}

.recipe-page .nav li {
  color: white;
}

.recipe-page .recipe-card {
  border: solid #718a6f;
  border-radius: 5px;
  margin-bottom: 15%;
}

.recipe-page .recipe-card .recipe-header {
  text-align: center;
  font-family: "Bad Script", cursive;
}

.recipe-page .recipe-card .recipe-header h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.recipe-page .recipe-card .recipe-header .nutrition-rating {
  margin-top: 0.5;
  margin-bottom: 25;
}

.recipe-page .recipe-card img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.recipe-page .recipe-card ul {
  padding: 5%;
  color: #718a6f;
  margin: 30 0;
  list-style: none;
  font-weight: bold;
  line-height: 20px;
}

.recipe-page .recipe-card li {
  font-size: 1.3rem;
}

.recipe-page .recipe-card ol {
  padding: 0 5%;
  color: #718a6f;
  list-style-type: none;
  counter-reset: elementcounter;
  padding-right: 40;
  margin: 30 0;
}

.recipe-page .recipe-card ol li:before {
  display: block;
  content: "Step " counter(elementcounter);
  counter-increment: elementcounter;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: underline;
  padding: 10 0;
}

.recipe-page .search-bar-redirect {
  background-color: white;
  opacity: 0.7;
  width: 35%;
  margin: 0 auto;
}

.recipe-page .search-no-match {
  color: red;
  text-align: center;
  font-size: 2rem;
}

.about-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/assets/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
  overflow: hidden;
}

@media (min-width: 800px) {
  .about-page p {
    font-size: 2rem;
    padding: 5%;
  }
  .about-page .p2 {
    padding: 2%;
  }
}

@media (max-width: 799px) {
  .about-page p {
    font-size: 1.5rem;
    padding: 8%;
  }
  .about-page .p2 {
    padding: 4%;
  }
}

.about-page h1 {
  margin-left: 30px;
  color: #2e3d31;
}

.about-page nav {
  padding-bottom: 5%;
}

.about-page .text-containers {
  text-align: center;
  margin-top: 1.5%;
  height: 15%;
  width: 70%;
  background: #2e3d31;
  border-radius: 5px;
}

.about-page .tc1, .about-page .tc2, .about-page .tc3 {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@media (max-height: 600px) {
  .contact-page h1 {
    font-size: 4rem;
  }
}

@media (max-height: 315px) {
  .contact-page h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .contact-page .main-header {
    margin: 5% 25%;
  }
  .contact-page .flex-container {
    margin: 5% auto;
    width: 50%;
  }
  .contact-page .bg-image {
    min-height: 50%;
  }
  .contact-page form {
    padding: 5% 0;
  }
}

@media (max-width: 799px) {
  .contact-page .main-header {
    margin: 10% 25%;
  }
  .contact-page .flex-container {
    margin-top: 5%;
  }
  .contact-page form {
    padding: 20% 0;
  }
}

.contact-page .nav li {
  color: white;
}

.contact-page .main-header {
  width: 50%;
  height: 20%;
  background-color: #2e3d31;
  opacity: 0.9;
  border-radius: 5px;
}

.contact-page h1 {
  text-align: center;
  color: white;
}

.contact-page .bg-image {
  min-height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-page .img1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2))), url("/assets/11.jpg");
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("/assets/11.jpg");
}

.contact-page .img2 {
  background-color: #2e3d31;
}

.contact-page .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-page .social-icons {
  font-size: 5rem;
  color: #2e3d31;
}

.contact-page .social-icons:hover {
  cursor: pointer;
  color: #718a6f;
}

.contact-page .section2 {
  color: white;
}

.contact-page form {
  width: 50%;
  margin: 0 auto;
}

.contact-page label {
  font-size: 1.2rem;
}

.contact-page button, .contact-page textarea, .contact-page input {
  padding: 2% 1%;
  margin: 2% 0;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.contact-page button {
  background: none;
  color: white;
}

.contact-page button:hover {
  background: white;
  color: #2e3d31;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 7rem;
  color: #718a6f;
  font-family: "Bad Script", cursive;
}

h3 {
  color: #718a6f;
}

p {
  color: #718a6f;
}

.logo-container {
  margin-top: 7%;
}

div {
  display: inline-block;
  width: 100%;
}

.nav-container {
  width: 50%;
  padding: 1rem;
}

.nav-container .logo-container {
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70816b), to(#2e3d31));
  background-image: linear-gradient(180deg, #70816b, #2e3d31);
  width: 6rem;
  height: 6rem;
}

.nav-container .logo-container:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3d31), to(#70816b));
  background-image: linear-gradient(180deg, #2e3d31, #70816b);
}

.nav-container #logo {
  font-size: 1rem;
  color: white;
  font-family: "Bad Script", cursive;
  text-align: center;
  padding-top: 15%;
}

.nav-container ul {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .nav-container ul {
    font-size: 1.6rem;
  }
}

.nav-container li {
  font-family: "Raleway", sans-serif;
  color: #718a6f;
}

.nav-container li:hover {
  color: #2e3d31;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */