@import "homepage";
@import "recipes";
@import "about";
@import "contact";


$sub-font: 'Raleway', sans-serif;
$main-font: 'Bad Script', cursive;
$main-color: rgb(113, 138, 111);
$sub-color: rgb(46, 61, 49);


*{
    margin: 0;
    padding: 0
}


html {
   
    font-size: 62.5%;
    font-family: $sub-font;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
 
}

a{ 
    text-decoration: none !important;
 }

 h1{
     font-size: 7rem;
     color: $main-color;
     font-family: $main-font;
 }


 h3{
    color: $main-color;
 }
 
 p{
     color: $main-color;
 }

 .logo-container{
     margin-top: 7%;
 }

 div{
    display: inline-block;
    width: 100%;

}


.nav-container{
    width: 50%; 
    padding: 1rem;

    .logo-container{
        border-radius: 50%;
        background-image: linear-gradient(180deg, rgb(112, 129, 107), $sub-color);
        width: 6rem;
        height: 6rem;
        &:hover{
            background-image: linear-gradient(180deg, $sub-color , rgb(112, 129, 107));

        }
        
    }
    
    #logo{
    
        font-size: 1rem;
        color: white;
        font-family: $main-font;
        text-align: center;
        padding-top: 15%;
    }

    ul {

        @media screen and (min-width: 800px) {
            font-size: 1.6rem;
        }
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
    }

    li{

        &:hover{
            color: $sub-color;
            cursor: pointer;
        }
        font-family: $sub-font;
        color: $main-color;
    }

    }

